.table-view .column-header .label{
-fx-text-fill:white;
-fx-font-weight:bold;
-fx-background-color:black;
-fx-font-size:24px;
-fx-alignment:baseline-left;
}
#one .label{
-fx-alignment:center;
}
#two .label{
-fx-alignment:center;
}
#gp{
-fx-background-color:black;

}
.table-view .column-header{
-fx-background-color:black;
-fx-label-paddding:-20,0,0,0;
-fx-pref-height:36px;
}

.table-cell{
    -fx-padding: -6 0 0 0;
}

.table-view{
-fx-padding:0;
}

#kaishijianpiao{
 -fx-bounds-type: logical_vertical_center;

}
/*
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button{
     -fx-background-color:null;
     -fx-background-radius:0;
     -fx-background-insets:0;
     -fx-padding:0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow{
     -fx-background-color:null;
     -fx-background-radius:0;
     -fx-background-insets:0;
     -fx-padding:0;
     -fx-shape:null;
}
*/